{% extends 'todoapp/main.html' %}

{% block content %}
<div class="card-header bg-info mb-2">
    <h1>Reset your password</h1>
    <p> Please enter your email and we will send you steps to complete your password reset.</p>

</div>


<div class="card">

    <form method="POST" action="" class="form mb-2">
        {% csrf_token %}
        <div class="form-group  form-control">

        <label>{{form.email.label}}</label> <br>
        {{form.email}} <br><br>
        </div>

        <input class="btn btn-info mt-2 card-footer form-control" type="submit" value="send email"/>
        
        
    </form>

</div>
{% endblock content %}